<br><br>
<div>
    <h2 style="color: blue;"> Historial</h2>
    <% if (productos.length> 0) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">precio</th>
                    <th scope="col">thumbnail</th>
                </tr>

            </thead>
            <tbody>
                <% for( producto of productos ) { %>
                    <tr>
                        <th>
                            <%= producto.nombre %>
                        </th>
                        <th>
                            <%= producto.precio %>
                        </th>
                        <th>
                            <img style="width: 100px;" src="<%= producto.thumbnail %>" alt="new">
                        </th>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <% } else {%>
            <p class="alert alert-danger">no se encontro data</p>
            <% }%>
                <form action="/">
                    <button type="submit">voler</button>

                </form>
</div>