<h1>Ingrese datos de estudiantes</h1>
<form action="/create" method="post">
    <input type="text" name="name" class="form-control" placeholder="nombre">
    <input type="text" name="lastname" class="form-control" placeholder="apellido">
    <i class="fa-thin fa-rings-wedding"></i>
    <input type="number" name="age" class="form-control" placeholder="edad">
    <button type="submit">ingresar estudiante</button>
</form>