<br><br><br>
<h1 style="margin: 20px;">Ingrese datos de producto</h1>
<form action="/create" method="post">
    <input type="text" name="nombre" class="form-control" placeholder="nombre de producto" style="margin: 20px;">
    <input type="number" name="precio" class="form-control" placeholder="precio" style="margin: 20px;">
    <input type="text" name="thumbnail" class="form-control" placeholder="thumbnail" style="margin: 20px;">
    <button type="submit" style="margin: 20px;">ingresar producto</button>
</form>